<div style="display:flex; flex-direction:column; align-items:center;padding-right: 12px;padding-left: 4px; font-family:monospace">
    <div style="height: 0px;display:flex; flex-direction:row; ">
        <div style="font-size: 18px; height: 0px;">
            &#8721;
        </div>
        <div style="position:relative; left: 2px; top: 1px;">@IndexSymbol</div>
    </div>

    <div style="height: 0px;position: relative; top: -18px; left:0px; font-size: 80%; display:flex;">@LoopEnd</div>
    <div style="height: 0px; position: relative; top: 22px; left:0px; font-size: 80%; display:flex;">@LoopStart</div>
</div>

@code {

    [Parameter]
    public RenderFragment LoopEnd { get; set; } = default!;

    [Parameter]
    public RenderFragment LoopStart { get; set; } = default!;

    [Parameter]
    public RenderFragment IndexSymbol { get; set; } = default!;

}