@if (Entity!.IdUpgrades().Count > 0)
{
    @if (StyleType.Equals("Plain"))
    {
        @foreach (var upgradeId in Entity.IdUpgrades())
        {
            var entity = EntityModel.Get(upgradeId.Id);
            <div>
                <div>
                    <b>Upgrade Name:</b> @entity.Info().Name
                </div>
                <div>
                    <b>- Description:</b> @entity.Info().Description
                </div>
            </div>
        }
    }
    else
    {
        <EntityDisplayComponent Title="Upgrades">
            <div class="upgradesContainer">
                @foreach (var upgradeId in Entity.IdUpgrades())
                {
                    var entity = EntityModel.Get(upgradeId.Id);
                    <div>
                        <div>
                            <b>Name:</b> <EntityLabelComponent EntityId="@entity.DataType"/>
                        </div>
                        <div>
                            <b>Description:</b> @entity.Info().Description
                        </div>
                    </div>
                }
            </div>
        </EntityDisplayComponent>


        <style>
    .upgradesContainer {
        display: flex;
        gap: 32px;
    }

    @@media only screen and (max-width: 1025px) {
        .upgradesContainer {
            flex-direction: column;
            gap: 4px;
        }
    }
</style>
    }
}


@code {

    [CascadingParameter]
    public EntityModel? Entity { get; set; } = default!;


    [CascadingParameter]
    public string StyleType { get; set; } = "Detailed";

}