@if (StyleType.Equals("Plain"))
{
    <div><b>@Entity?.Info().Name</b>
            @if (Entity?.Info().Descriptive != DescriptiveType.None)
                {
                    <span>, @Entity?.Info().Descriptive.Replace("_", " ")</span>
                }
        </div>
}
else
{
    <div class="entityHeader">
        <div class="entityHeaderText">
            @Entity?.Info().Name
        </div>
        <div style="font-size:1.4rem;">
            <b>@Entity?.EntityType.Replace("_", " ")</b>
            @if (Entity?.Info().Descriptive != DescriptiveType.None)
            {
                <span>
                    <b>:</b> @Entity.Info().Descriptive.Replace("_", " ")
                </span>
            }
        </div>
    </div>

    <style>
    .entityHeader {
        display: flex;
        flex-direction: row;
        gap: 4px;
        justify-content: space-between;
        margin-bottom: 22px;
        width: 100%;
        margin-left: -6px;
    }

    .entityHeaderText {
        font-size: 2rem;
        font-weight: 900;
    }

    @@media only screen and (max-width: 1025px) {
        .entityHeader {
            flex-direction: column;
            justify-content: normal;
            margin-left: 4px;
        }
    }
</style>
}

@code {

    [CascadingParameter]
    public EntityModel? Entity { get; set; }

    
    [CascadingParameter]
    public string StyleType { get; set; } = "Detailed";

}