@if (Vanguard != null)
{
    var immortalId = Vanguard.ImmortalId;
    var immortal = DATA.Get()[immortalId];

    var replaced = DATA.Get()[Vanguard.ReplaceId];

    @if (StyleType.Equals("Plain"))
    {
        <div>
            <b>Immortal:</b> @immortal.Info().Name
        </div>
        @if (!Vanguard.ReplaceId.Equals(""))
        {
            <div>
                <b>Replaces:</b> @replaced.Info().Name
            </div>
        }
    }
    else
    {
        <EntityDisplayComponent Title="Vanguard">
            <div>
                <div>
                    <b>Immortal:</b> <EntityLabelComponent EntityId="@immortal.DataType"/>
                </div>
                @if (!Vanguard.ReplaceId.Equals(""))
                {
                    <div>
                        <b>Replaces:</b> <EntityLabelComponent EntityId="@Vanguard.ReplaceId"></EntityLabelComponent>
                    </div>
                }
            </div>
        </EntityDisplayComponent>
    }
}

@code {

    [CascadingParameter]
    public EntityModel? Entity { get; set; } = default!;

    private EntityVanguardAddedModel? Vanguard => Entity?.VanguardAdded();

    [CascadingParameter]
    public string StyleType { get; set; } = "Detailed";



}