@if (Entity.IdVanguards().Count > 0) {
    <EntityDisplayComponent Title="Vanguards">
        @foreach (var data in Entity.IdVanguards()) {
            var entity = EntityModel.Get(data.Id);

            var info = entity.Info();
            var production = entity.Production();
            var requirements = entity.Requirements();
            var vanguard = entity.Vanguard();
            var productionBuilding = (from building in requirements
                where building.Requirement == RequirementType.Production_Building
                select building).First().Name;

            <div>
                <div>
                    <b>Name:</b> @info.Name
                </div>
                <div>
                    <b>Replaces:</b> @vanguard.Replaces
                </div>

                <div>
                    <b>Built From:</b> @productionBuilding
                </div>
            </div>
        }
    </EntityDisplayComponent>
}

@code {

    [Parameter]
    public EntityModel Entity { get; set; }

}