@if (Entity.IdUpgrades().Count > 0) {
    <EntityDisplayComponent Title="Upgrades">
        <div class="upgradesContainer">
            @foreach (var upgradeId in Entity.IdUpgrades()) {
                var entity = EntityModel.Get(upgradeId.Id);
                <div>
                    <div>
                        <b>Name:</b> <EntityLabelComponent EntityId="@entity.DataType"/>
                    </div>
                    <div>
                        <b>Description:</b> @entity.Info().Description
                    </div>
                </div>
            }
        </div>
    </EntityDisplayComponent>
}

<style>
    .upgradesContainer {
        display: flex;
        gap: 32px;
    }

    @@media only screen and (max-width: 1025px) {
        .upgradesContainer {
            flex-direction: column;
            gap: 4px;
        }
    }
</style>

@code {

    [Parameter]
    public EntityModel Entity { get; set; }

}