@if (Entity.Vanguard() != null) {
    <EntityDisplayComponent Title="Vanguard">
        <div>
            <div>
                <b>Immortal:</b> @Entity.Vanguard().Immortal.Replace("_", " ")
            </div>
            @if (Entity.Vanguard().Replaces != "") {
                <div>
                    <b>Replaces:</b> @Entity.Vanguard().Replaces.Replace("_", " ")
                </div>
            }
        </div>
    </EntityDisplayComponent>
}

@code {

    [Parameter]
    public EntityModel Entity { get; set; }

}