<PanelComponent>
    <div class="roadMapTitle">@RoadMap.Name</div>
    <div>@((MarkupString)RoadMap.Description)</div>
    </PanelComponent>

<style>

    .roadMapTitle {
        font-weight: 800;
        font-size: 1.2rem;
    }
</style>

@code {

    [Parameter]
    public ImmortalRoadMapModel? RoadMap { get; set; }

}