<div class="divider">
</div>

<style>
    .divider {
        width: 100%;
        border-bottom: 2px solid black;
        margin-top: 6px;
        margin-bottom: 6px;
        height: 12px;
        background-color: #545454;
    }
</style>