@if (Entity != null)
{
    var isVanguard = Entity.VanguardAdded() != null ? " vanguard" : "";

    <div id="@Entity.EntityType.ToLower()-@Entity.Info().Name.ToLower()" class="entitiesContainer @isVanguard">
        <EntityHeaderComponent></EntityHeaderComponent>
        <div class="entityPartsContainer">
            <EntityVanguardAddedComponent></EntityVanguardAddedComponent>
            <EntityInfoComponent></EntityInfoComponent>
            <EntityVanguardsComponent></EntityVanguardsComponent>
            <EntityProductionComponent></EntityProductionComponent>
            <EntityStatsComponent></EntityStatsComponent>
            <EntityMechanicsComponent></EntityMechanicsComponent>
            <EntityPassivesComponent></EntityPassivesComponent>
            <EntityPyreSpellsComponent></EntityPyreSpellsComponent>
            <EntityUpgradesComponent></EntityUpgradesComponent>
            <EntityWeaponsComponent></EntityWeaponsComponent>
            <EntityAbilitiesComponent></EntityAbilitiesComponent>
        </div>
    </div>
}

<style>
    .entitiesContainer {
        margin-bottom: 12px;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 30px;
        display: flex;
        flex-wrap: wrap;
        
        flex-direction: column;
    }
    
    .entityPartsContainer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }
    
    @@media only screen and (max-width: 1025px) {
        .entitiesContainer {
            padding: 0px;
        }
    }
</style>

@code {

    [CascadingParameter]
    public EntityModel? Entity { get; set; }

    [CascadingParameter]
    public string? StyleType { get; set; }

}