.colorContainer {
    display: flex;
    flex-direction: column;
}

.color {
    padding: 12px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
}

.accent {
    background-color: var(--accent);
}

.primary {
    background-color: var(--primary);
    border: 1px solid var(--primary-border);
}

.primary:hover {
    background-color: var(--primary-hover);
    border-color: var(--primary-border-hover);
}

.secondary {
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
}

.secondary:hover {
    background-color: var(--secondary-hover);
    border-color: var(--secondary-border-hover);
}

.paper {
    background-color: var(--paper);
    border: 4px solid var(--paper-border);
}

.background {
    background-color: var(--background);
}

.info {
    background-color: var(--info);
}
