<MakingOfComponent>
    <Title>
        Entity Display
    </Title>
    <Description>
        Display element for holding entity information.
    </Description>
    <Example>
        <LayoutRowComponent>
            <EntityDisplayComponent Title="Example Entity Info">
                <div>
                    Example Entity Content
                </div>

                @for (var i = 0; i < 1; i++) {
                    <div>
                        -@i Example Entity Content
                    </div>
                }

                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </div>
            </EntityDisplayComponent>
            <EntityDisplayComponent Title="Example Entity Info">
                <div>
                    Example Entity Content
                </div>

                @for (var i = 0; i < 2; i++) {
                    <div>
                        -@i Example Entity Content
                    </div>
                }

                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                </div>
            </EntityDisplayComponent>
            <EntityDisplayComponent Title="Example Entity Info">
                <div>
                    Example Entity Content
                </div>

                @for (var i = 0; i < 1; i++) {
                    <div>
                        -@i Example Entity Content
                    </div>
                }

                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </div>
            </EntityDisplayComponent>
        </LayoutRowComponent>
    </Example>
    <Usage>
        <CodeComponent>
            &lt;LayoutRowComponent&gt;
            &lt;EntityDisplayComponent Title=&quot;Example Entity Info&quot;&gt;
            &lt;div&gt;
            Example Entity Content
            &lt;/div&gt;

            @@for (var i = 0; i &lt; 1; i++) {
            &lt;div&gt;
            -@@i Example Entity Content
            &lt;/div&gt;
            }

            &lt;div&gt;
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            &lt;/div&gt;
            &lt;/EntityDisplayComponent&gt;
            &lt;EntityDisplayComponent Title=&quot;Example Entity Info&quot;&gt;
            &lt;div&gt;
            Example Entity Content
            &lt;/div&gt;

            @@for (var i = 0; i &lt; 2; i++) {
            &lt;div&gt;
            -@@i Example Entity Content
            &lt;/div&gt;
            }

            &lt;div&gt;
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
            &lt;/div&gt;
            &lt;/EntityDisplayComponent&gt;
            &lt;EntityDisplayComponent Title=&quot;Example Entity Info&quot;&gt;
            &lt;div&gt;
            Example Entity Content
            &lt;/div&gt;

            @@for (var i = 0; i &lt; 1; i++) {
            &lt;div&gt;
            -@@i Example Entity Content
            &lt;/div&gt;
            }

            &lt;div&gt;
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            &lt;/div&gt;
            &lt;/EntityDisplayComponent&gt;
            &lt;/LayoutRowComponent&gt;
        </CodeComponent>
    </Usage>
    <Code>
        <CodeComponent>
            &lt;div class=&quot;entityDisplaySection&quot;&gt;
            &lt;div class=&quot;entityDisplayHeader&quot;&gt;
            &lt;div class=&quot;entityDisplayTitle&quot;&gt;
            @@Title
            &lt;/div&gt;
            &lt;div class=&quot;entityDisplayBorder&quot;&gt;
            &lt;/div&gt;
            &lt;/div&gt;
            @@ChildContent
            &lt;/div&gt;

            &lt;style&gt;
            .entityDisplaySection {
            position: relative;
            padding: 8px;
            display: flex;
            gap: 12px;
            flex-direction: column;
            margin-top: 14px;
            margin-top: 20px;
            padding: 12px;
            background-color: var(--info);
            border-top-right-radius: 12px;
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
            }

            .entityDisplayHeader {
            bottom: 100%;
            position: absolute;
            white-space: pre;
            width: 100%;
            line-height: 0px;
            right: 0px;
            top: -4px;
            display: flex;
            }

            .entityDisplayTitle {
            font-weight: 800;
            font-size: 1.4rem;
            padding-right: 8px;
            text-shadow: 3px 0 0 var(--info), -3px 0 0 var(--info), 0 3px 0 var(--info), 0 -3px 0 var(--info), 2px 2px var(--info), -2px -2px 0 var(--info), 2px -2px 0 var(--info), -2px 2px 0 var(--info);
            }

            @@@@media only screen and (max-width: 1025px) {
            .entityDisplayHeader {
            position: inherit;
            width: 100%;
            margin: 0px;
            }

            .entityDisplaySection {
            position: inherit;
            width: 100%;
            margin: 0px;
            max-width: none;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            }

            .entityDisplayTitle {
            position: inherit;
            margin: 0px;
            }
            }
            &lt;/style&gt;

            @@code {
            [Parameter] public RenderFragment ChildContent { get; set; }
            [Parameter] public string Title { get; set; }
            }
        </CodeComponent>
    </Code>
</MakingOfComponent>