<MakingOfComponent>
    <Title>Dialog</Title>
    <Description>...</Description>
    <Example>
        <DialogComponent></DialogComponent>
    </Example>
    <Usage>
        //TODO
    </Usage>
    <Code>
        //TODO
    </Code>
</MakingOfComponent>


@code {

}