<MakingOfComponent>
    <Title>Form Text</Title>
    <Description>Add Text Input</Description>
    <Example>
        <FormLayoutComponent>
            <FormTextComponent Label="Label Text" Info="Info Text" Placeholder="Placeholder Text..." Value="Value Text"/>
            <FormTextAreaComponent Label="Label Text" Info="Info Text" Placeholder="Placeholder Text..." Value="Value Text"/>
        </FormLayoutComponent>
    </Example>
    <Usage>
        //TODO
    </Usage>
    <Code>
        //TODO
    </Code>
</MakingOfComponent>


<MakingOfComponent>
    <Title>Form Area</Title>
    <Description>Add Text Body Input</Description>
    <Example>
        <FormTextAreaComponent Label="Label Text" Info="Info Text" Placeholder="Placeholder Text..." Value="Value Text"/>
    </Example>
    <Usage>
        //TODO
    </Usage>
    <Code>
        //TODO
    </Code>
</MakingOfComponent>

@code {

}