<MakingOfComponent>
    <Title>Dialog</Title>
    <Description>...</Description>
    <Example>
    </Example>
    <Usage>
        //TODO
    </Usage>
    <Code>
        //TODO
    </Code>
</MakingOfComponent>

@code {

}