@using Model.Immortal.Entity
@using Services.Website
@using System.ComponentModel.DataAnnotations
@using Model.Immortal.Entity.Data
@using Services

@inject IEntityDialogService entityDialogService 


@if (EntityId == null)
{
    <div>Add a entity</div>
}
else
{
    <button class="entityLabel @Entity.Descriptive.ToLower()" @onclick="EntityLabelClicked">@Entity.Info().Name</button>
}

@code {
    
    [Parameter] public string EntityId { get; set; }

    private EntityModel Entity => DATA.Get()[EntityId];

    protected override void OnInitialized()
    {
        Console.Write(Entity.Info().Name);
    }

    void EntityLabelClicked()
    {
        Console.WriteLine("EntityLabelClicked()");
        
        entityDialogService.AddDialog(EntityId);
    }
}