@inject ISearchService SearchService
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<button id="@Id" class="searchIconButtonContainer" @onclick="ButtonClicked">
    <div class="searchText">
        S
    </div>
</button>

<style>
    .searchIconButtonContainer {
        background-color: var(--primary);
        border: 2px solid var(--primary-border);
        border-radius: 8px;
        font-weight: 800;
        width: 32px;
        padding: 5px;
        display: flex;
        flex-direction: row;
        justify-content:  space-between;
        align-items: center;
    }
</style>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;

    [Parameter]
    public string Id { get; set; } = default!;

    private void ButtonClicked(EventArgs eventArgs)
    {
        SearchService.Show();
    }
}