.layoutContainer {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.content {
    margin-bottom: 64px;
    display: flex;
    min-width: 100%;
    min-height: 100%;
    flex-direction: column;
}