@inherits LayoutComponentBase;

@inject IWebsiteService webService;
@implements IDisposable;

<div class="layoutContainer">
    @if (!webService.IsLoaded())
    {
        <LoadingComponent/>
    }
    else
    {
        <div class="content">
            @Body
        </div>


        <DesktopNavComponent WebSections=webService.WebSectionModels
                             WebPages=webService.WebPageModels/>
        <TabletNavComponent WebSections=webService.WebSectionModels
                            WebPages=webService.WebPageModels/>
        <MobileNavComponent WebSections=webService.WebSectionModels
                            WebPages=webService.WebPageModels/>
    }
</div>

@code {

#if NO_SQL

#else
    [Inject]
    DatabaseContext Database { get; set; }
#endif


    protected override void OnInitialized()
    {
        webService.Subscribe(HasChanged);
    }

    protected override async Task OnInitializedAsync()
    {
        await webService.Load();
    }

    void IDisposable.Dispose()
    {
        webService.Unsubscribe(HasChanged);
    }

    void HasChanged()
    {
        StateHasChanged();
    }

}