.patchContainer {
    padding: 16px;
}

@media only screen and (max-width: 1025px) {
    .patchContainer {
        border: none;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 16px;
        padding-bottom: 16px;
    }
}
