@layout PageLayout

@page "/contact"

<LayoutMediumContentComponent>
    <WebsiteTitleComponent>Contact</WebsiteTitleComponent>

    <PaperComponent>
        <InfoBodyComponent>
            <InfoQuestionComponent>
                How do I contact you for feature requests and bug reports?
            </InfoQuestionComponent>
            <InfoAnswerComponent>
                You can message me at <b>JonathanMcCaffrey#3544</b> on my <a href="https://discord.gg/uMq8bMGeeN" target="_blank">Discord</a> channel.
            </InfoAnswerComponent>
        </InfoBodyComponent>
    </PaperComponent>
</LayoutMediumContentComponent>