@layout PageLayout

@page "/contact"

<LayoutMediumContentComponent>
    <WebsiteTitleComponent>Contact</WebsiteTitleComponent>

    <PaperComponent>
        <InfoBodyComponent>
            <InfoQuestionComponent>
                How do I contact you for feature requests and bug reports?
            </InfoQuestionComponent>
            <InfoAnswerComponent>
                You can direct message me at <b>Iremirror#3544</b> on the <a href="https://discord.gg/uMq8bMGeeN" target="_blank">IGP Fan Reference</a> discord.
            </InfoAnswerComponent>
        </InfoBodyComponent>
    </PaperComponent>
</LayoutMediumContentComponent>