@page "/data-collection"

@inject IDataCollectionService DataCollectionService 
@inherits BasePage

@layout PageLayout


<LayoutMediumContentComponent>
    <AlertComponent>
        <Title>Not Implemented</Title>
        <Message></Message>
    </AlertComponent>

    <PaperComponent>
        TODO
    </PaperComponent>

    <ContentDividerComponent/>

    <PaperComponent>

    </PaperComponent>
</LayoutMediumContentComponent>