@page "/permissions"

@layout PageLayout


<LayoutMediumContentComponent>
    <AlertComponent>
        <Title>Not Implemented</Title>
        <Message></Message>
    </AlertComponent>
    
    <PaperComponent>
        TODO
    </PaperComponent>

    <ContentDividerComponent/>

    <PaperComponent>
        <InfoBodyComponent>
            <InfoQuestionComponent>What's this page?</InfoQuestionComponent>
            <InfoAnswerComponent>This page has options to enable and disable certain permissions settings. Such as Storage and Data Collection.</InfoAnswerComponent>
        </InfoBodyComponent>

        <InfoBodyComponent>
            <InfoQuestionComponent>What does this website store?</InfoQuestionComponent>
            <InfoAnswerComponent>This website usages storage to track user defined default on the Storage page.</InfoAnswerComponent>
        </InfoBodyComponent>

        <InfoBodyComponent>
            <InfoQuestionComponent>Why would I enable storage?</InfoQuestionComponent>
            <InfoAnswerComponent>Enable storage if you want to website to remeber past settings whenever you visit the website on the same web browser.</InfoAnswerComponent>
        </InfoBodyComponent>

        <InfoBodyComponent>
            <InfoQuestionComponent>What data does this website collect?</InfoQuestionComponent>
            <InfoAnswerComponent>This website usages Google Analytics to collect data enabled on the Analytics page.</InfoAnswerComponent>
        </InfoBodyComponent>

        <InfoBodyComponent>
            <InfoQuestionComponent>Why would I enable data collection?</InfoQuestionComponent>
            <InfoAnswerComponent>Enable data tracking if you want the website maintainer to know how your using the website.</InfoAnswerComponent>
        </InfoBodyComponent>
    </PaperComponent>
</LayoutMediumContentComponent>