@page "/streams"

@inherits BasePage

@layout PageLayout

<LayoutMediumContentComponent>
    <WebsiteTitleComponent>Streams</WebsiteTitleComponent>

    <PaperComponent>
        <InfoBodyComponent>
            <InfoQuestionComponent>When and where are you streaming?</InfoQuestionComponent>
            <InfoAnswerComponent>I stream Sunday updates on <a href="https://www.twitch.tv/jonathanmccaffrey" target="_blank">Twitch</a>.</InfoAnswerComponent>
        </InfoBodyComponent>
        <InfoBodyComponent>
            <InfoQuestionComponent>What exactly are you streaming?</InfoQuestionComponent>
            <InfoAnswerComponent>
                The plan will be sprint planning and general development of this website.

                <br/><br/>
                Feel free to jump into the stream to ask questions or make feature requests for the website.
            </InfoAnswerComponent>
        </InfoBodyComponent>

        <InfoBodyComponent>
            <InfoQuestionComponent>Why should you watch these streams?</InfoQuestionComponent>
            <InfoAnswerComponent>
                You shouldn't. By nature of being live coding streams, I think they will have little entertainment and educational value.
                <br/><br/>
                The most reason (that comes to mind) is to see a coding day of one software developer. Although please note that I stream content that I think is easy (to look smart), so it's not a "truly random" coding day. For example, you won't find any vods of the five-week sprint where I (figuratively) bash my head against the table trying to get SQL working in Blazor WASM before giving up and moving on.
            </InfoAnswerComponent>
        </InfoBodyComponent>
        <InfoBodyComponent>
            <InfoQuestionComponent>Anything else I should know?</InfoQuestionComponent>
            <InfoAnswerComponent>I'll be streaming under the "<a href="https://www.twitch.tv/directory/game/Software%20and%20Game%20Development" target="_blank">Twitch, Software and Game Development</a>" category. If you are looking to see some actual IGP gameplay, there are better and more focused streamers to provide said content. Check out the "<a href="https://www.twitch.tv/directory/game/IMMORTAL%3A%20Gates%20of%20Pyre/videos/all" target="_blank">Twitch, IMMORTAL: Gates of Pyre</a>" category for some examples.</InfoAnswerComponent>
        </InfoBodyComponent>
    </PaperComponent>
</LayoutMediumContentComponent>