@page "/streams"

@layout PageLayout

<LayoutMediumContentComponent>
    <WebsiteTitleComponent>Streams</WebsiteTitleComponent>

    <PaperComponent>
        <InfoBodyComponent>
            <InfoQuestionComponent>When and where are you streaming?</InfoQuestionComponent>
            <InfoAnswerComponent>I stream Sunday updates on <a href="https://www.twitch.tv/jonathanmccaffrey" target="_blank">Twitch</a>.</InfoAnswerComponent>
        </InfoBodyComponent>
        <InfoBodyComponent>
            <InfoQuestionComponent>What exactly are you streaming?</InfoQuestionComponent>
            <InfoAnswerComponent>The plan will be: sprint planning, and general development of this website.</InfoAnswerComponent>
        </InfoBodyComponent>
        <InfoBodyComponent>
            <InfoQuestionComponent>Anything else I should know?</InfoQuestionComponent>
            <InfoAnswerComponent>I'll be streaming under the "<a href="https://www.twitch.tv/directory/game/Software%20and%20Game%20Development" target="_blank">Twitch, Software and Game Development</a>" category. If you are looking to see some real IGP gameplay, there are better and more focused streamers to provide said content. Check out the "<a href="https://www.twitch.tv/directory/game/IMMORTAL%3A%20Gates%20of%20Pyre/videos/all" target="_blank">Twitch, IMMORTAL: Gates of Pyre</a>" category for some examples.</InfoAnswerComponent>
        </InfoBodyComponent>
    </PaperComponent>
</LayoutMediumContentComponent>